body {
    margin-top: 30px;
    padding: 50px;
    background: #f9f9f9;
  }

  h1 {
    font-family: cursive;
  }

  h2 {
    font-family: monospace;
  }

  h3 {
    font-family: serif;
    color: brown;
  }
